<html>
<head>
  <title>Configure Flowdock integration in JIRA</title>
  <meta name="decorator" content="atl.general">
</head>
<body>
<header class="aui-page-header">
  <div class="aui-page-header-inner">
    <h2>Configure Flowdock integration in JIRA</h2>
    <p><a href="https://www.flowdock.com/?utm_campaign=jira_config&utm_source=jira" target="_blank">Flowdock</a> is a chat-based collaboration app, that keeps your team up-to-date about what's happening in JIRA. For more information about Flowdock, <a target="_blank" href="http://www.youtube.com/watch?v=NIoDFvNS-_A">check out the screencast</a>.</p>

    <p><a href="https://www.flowdock.com/help/jira?utm_campaign=jira_config&utm_source=jira" target="_blank">&raquo; Visit the help page to get your flow API token</a>.
  </div>
</header>

#if ($apiKeyPairs.size() > 0)

  <form action="configureFlowdock!save.jspa" method="post" class="aui">
    <h2>Add Flowdock API tokens for JIRA projects</h2>
    <input type="hidden" name="atl_token" value="$atl_token"/>

    <fieldset>
      #foreach ($apiKeyPair in $apiKeyPairs)
        <div class="field-group">
          <label for="foo">$textutils.htmlEncode($apiKeyPair.project.name)</label>
          <input type="hidden" name="projectKeys" value="$textutils.htmlEncode($apiKeyPair.projectKey)"/>
          <input type="text" size=35 name="apiKeys" class="text" value="$textutils.htmlEncode($apiKeyPair.apiKeyNotNull)"/>
        </div>
      #end
    </fieldset>

    <div class="buttons-container">
      <div class="buttons">
        <input type="submit" class="button submit" value="Save changes" />
      </div>
    </div>
  </form>

#else
  <p>Please create at least one JIRA project before configuring the Flowdock integration.</p>
#end

</body>
</html>
